/* eb-garamond-regular - latin */
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/BeVietnamPro-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BeVietnamPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: lighter;
  src: url('../fonts/BeVietnamPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BungeeShade';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BungeeShade-Regular.ttf') format('truetype'),
}