/* eb-garamond-regular - latin */
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
   src: local('BeVietnamPro Black'), local('BeVietnamPro-Black'),
        url('../fonts/BeVietnamPro-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}