$brand-color:         rgb(198, 200, 205);
$highlight:           lighten($brand-color, 35%);
$text-color:          #be8200;
$muted-text-color:    #0f323f;
$font-family:         BeProVietnam;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
