$brand-color:         rgb(198, 200, 205);
$highlight:           lighten($brand-color, 35%);
$text-color:          #0600be;
$muted-text-color:    #262626;
$font-family:         Arial;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
