---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}

    <div class="image-container">
      <img alt="Cerebrum" src="assets/images/cerebrum.png" id="background-image"/>
      
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          let linesCount = Math.floor(Math.random() * 5) + 1;

          setTimeout(() => {
            linesCount = Math.floor(Math.random() * (5 - 1)) + 1
          }, 10000)

          for (let i = 0; i < linesCount; i++) {
            createMovingText();
          }

          function createMovingText() {
            const text = document.createElement('div');
            text.className = 'moving-text';
            text.textContent = generateRandomString();
            document.querySelector('.image-container').appendChild(text);

            const direction = Math.random() > 0.5 ? 1 : -1;
            const speed = Math.random() * 4 + 0.5; // Adjust speed as needed

            let position = Math.random() * document.querySelector('.image-container').offsetWidth;
            let yPos = Math.random() * document.querySelector('.image-container').offsetHeight;

            function move() {
              position += speed * direction;
              if (position > document.querySelector('.image-container').offsetWidth) {
                position = -text.clientWidth;
              } else if (position < -text.clientWidth) {
                position = document.querySelector('.image-container').offsetWidth;
              }

              text.style.transform = `translate(${position}px, ${yPos + document.querySelector('.image-container').offsetTop}px)`;
              requestAnimationFrame(move);
            }

            move();
          }

          function generateRandomString() {
            const length = Math.floor(Math.random() * 50);
            let randomString = '';
            for (let i = 0; i < length; i++) {
              randomString += Math.round(Math.random());
            }
            return randomString.trim();
          }
        });
      </script>

    </div>
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}
<!--
<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Contents
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  {% endif %}
    
-->

</main>
